name: CI

on:
  pull_request:
    branches: [main]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check types
        run: pnpm check:types

      - name: Check deps
        run: pnpm check:deps

      - name: Lint and Format
        run: pnpm format:lint

      - name: Test
        run: pnpm test

      - name: Build
        run: pnpm build