name: CI

on:
  pull_request:
    branches: [main]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check types
        run: pnpm check:types

      - name: Check deps
        run: pnpm check:deps

      - name: Resolve changed files
        run: |
          set -eo pipefail  # fail fast: exit on error (-e) and propagate pipe failures (-o pipefail)
          echo "CHANGED=$(git diff --name-only origin/${{ github.base_ref }}...HEAD | tr '\n' ' ')" >> $GITHUB_ENV

      - name: Lint and Format
        run: pnpm format:lint $CHANGED

      - name: Test
        run: pnpm test:related $CHANGED

      - name: Build
        run: pnpm build